body {
	background: #f8f6f6;
}
div#welcome {
	background-image: url('../assets/backgrounds/h_img.jpg');
	padding: 205px 300px;
	background-size: cover;
	
	background-repeat: no-repeat;
}
#logo {
	margin: auto;
	display: block;
	
}

div#welcome h1 {
	text-align: center;
	color: white;
}

div#welcome p {
	text-align: center;
	color: white;
}

#about-us {
	text-align: center;
}

div#services {
	background-image: url('../assets/backgrounds/s_image.jpg');
	padding: 100px 100px;
	margin-bottom: 20px;
}


div#services h3 {
	text-align: center;
	color: white;
}


#services p {
	text-align: center;
	color: white;
}

#what-we-do h3 {
	text-align: center;
}


#what-we-do img {
	margin: 0px 50px;
}

#design {
	margin: 0px 50px;
}


/* Hide design paragraph */
#pDesign {
	display: none;
}	


#pDev {
	display: none;
}

#pProduct {
	display: none;
}


#dev {
	margin: 0px 20px;
}

#portfolio h3 {
	text-align: center;
}


#portfolio img {
	width: 100%;
}


.row {
	margin: 15px;
}

#contact h3 {
	text-align: center;
	color: white;
}


div#contact {
	background-image: url('../assets/backgrounds/c_image.jpg');
	padding: 100px 100px;
	margin-bottom: 20px;
}

#clearRow {
	opacity: 0.3;
}

#messageArea {
	margin: 0 20px;
}

#socials {
	padding: 0px 20px;
	margin-top: 10px;
	margin-left: 425px;
}

#delaniStudio {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
}

#year {
	text-align: center;
	margin-top: 0px;
}